each article in page.posts.data
  .recent-post-item
    - var link = article.link || article.path
    - var categories = article.categories.toArray()
    - var tags = article.tags.toArray()
      a.article-title(href=url_for(link))= article.title || _p('no_title')
        hr
    if (theme.post_meta.date_type)
      - var date_type = theme.post_meta.date_type == 'updated' ? 'updated' : 'date'
      time.post-meta__date #[i.fa.fa-calendar(aria-hidden="true")] #[=date(article[date_type], config.date_format)]
    if(categories.length)
      div.helpWarp
      i.fa.fa-list
      for category in categories
        a.category(href=url_for(category.path),aria-hidden="true")=category.name
    if(tags.length)
      div.helpWarp
      i.fa.fa-tag
      for tag in tags
        a.tags(href=url_for(tag.path),aria-hidden="true")= tag.name
    .content!= article.excerpt
    a.more(href=url_for(link) + '#more')= _p('read_more')
      i.fa.fa-long-arrow-right(aria-hidden="true")
